#webcam {
    display: none;
}

#canvas-source {
    display: none;
}

#canvas-blended {
    margin: 0 auto;
    display: block;
}

#canvas-squares {
    position: relative;
    top: -480px;
    margin: 0 auto;
    display: block;
}