#webcam {
    display: none;
}

#canvas-source {
    display: none;
}

#canvas-blended {
    margin: 0 auto;
    display: block;
    width: 1000px;
}

#canvas-squares {
    position: relative;
    top: -750px;
    margin: 0 auto;
    display: block;
    width: 1000px;
}