<div class="resume__section">
    <h2 class="resume__section__header">Education</h2>
    <div class="resume__section__content">
        <div class="school__details">
            <p class="school__name">Case Western Reserve University, Cleveland OH</p>
            <p class="school__degree">Bachelor of Engineering in Aerospace Engineering</p>
            <p class="school__degree">Minor in Astronomy</p>
            <p class="school__awards">Deans list and President's Scholarship</p>
        </div>
        <a class="school__logo" href="http://www.case.edu" target="_blank"><img src="/images/Case_Western_Reserve_University_seal.svg"></a>
    </div>

</div>