<div class="resume__section">
    <h2 class="resume__section__header">Skills</h2>
    <div class="resume__section__content">

        <div class="resume__subsection">
            <h3 class="resume__subsection__header">Languages</h3>
            <ul class="skill-list">
                <li class="skill-list__item">javascript</li>
                <li class="skill-list__item">ruby</li>
                <li class="skill-list__item">python</li>
                <li class="skill-list__item">matlab</li>
                <li class="skill-list__item">Bash</li>
                <li class="skill-list__item">C</li>
                <li class="skill-list__item">C++</li>
                <li class="skill-list__item">MYSQL</li>
                <li class="skill-list__item">
                    IDL - <a href="http://stackoverflow.com/questions/260851/interactive-data-skill-idl-does-anybody-care" target="_blank">Does anybody care?</a></li>
                <li class="skill-list__item">Fortran</li>
                <li class="skill-list__item">Java</li>
            </ul>

            <h3 class="resume__subsection__header">Web Technologies</h3>
            <ul class="skill-list">
                <li class="skill-list__item">Backbone</li>
                <li class="skill-list__item">Ruby on Rails</li>
                <li class="skill-list__item">Angular</li>
                <li class="skill-list__item">D3</li>
                <li class="skill-list__item">
                    Brisket - <a href="https://github.com/bloomberg/brisket" target="_blank">Bloomberg Isomorphic JS Framework</a></li>
                <li class="skill-list__item">Sass</li>
                <li class="skill-list__item">Less</li>
                <li class="skill-list__item">HTML5</li>
                <li class="skill-list__item">CSS3</li>
                <li class="skill-list__item">Grunt</li>
                <li class="skill-list__item">Node</li>
                <li class="skill-list__item">jquery</li>
            </ul>

            <h3 class="resume__subsection__header">Misc.</h3>
            <ul class="skill-list">
                <li class="skill-list__item">Violin</li>
                <li class="skill-list__item">Rock climbing</li>
                <li class="skill-list__item">Fencing</li>
            </ul>

        </div>
    </div>
</div>