<div class="resume__section">
    <h2 class="resume__section__header">Volunteer Work</h2>
    <div class="resume__section__content">

        <ul class="volunteer-list">
            <li class="volunteer-list__item">NYC Parks department</li>
            <li class="volunteer-list__item">Materials for the Arts</li>
            <li class="volunteer-list__item">NYC FIRST Robotics</li>
            <li class="volunteer-list__item">92nd Street Y community Orchestra</li>
            <li class="volunteer-list__item">Mentoring at Columbia University Hackathons</li>
        </ul>
    </div>
</div>