<div class="resume__section">
    <h2 class="resume__section__header">Work Experience</h2>
    <div class="resume__section__content">

        <div class="resume__subsection">
            <h3 class="resume__subsection__header">Bloomberg LP, Senior Software Developer</h3>
            <p class="time-period">2011 - present</p>
            <ul class="experience-list">
                <li class="experience-list__item">Provided Front end support for launch of Bloomberg Politics and Bloomberg Business</li>
                <li class="experience-list__item">Full stack Ruby on Rails Developer for legacy Bloomberg.com</li>
                <li class="experience-list__item">Provided header/footer service from the bloomberg.com singlepage site to other web products</li>
                <li class="experience-list__item">Worked with recruiting teams to develop scoreboard and opponent matching for coding competitions</li>
                <li class="experience-list__item">Developed and maintained a shared styleguide gem</li>
                <li class="experience-list__item">Colaborated with www.xlike.org to create language-neutral article recommendations for users in Europe and Asia</li>
                <li class="experience-list__item">Built a blog curation tool for web editors specific to Bloomberg proprietary architecture</li>
                <li class="experience-list__item">Developed and Maintained a feed service for news content aggregators and other internal web teams in multiple formats (xml, newsml, rss) and schema requirements.</li>
            </ul>
        </div>

        <div class="resume__subsection">
            <h3 class="resume__subsection__header">CWRU Astronomy Department, Reasearch Assistant</h3>
            <p class="time-period">2008 - 2010</p>
            <ul class="experience-list">
                <li class="experience-list__item">Assisted design of Spectrographic plates used during the third Sloan Digital Sky Survey (SDSS3) using IDL</li>
                <li class="experience-list__item">Worked closely with professors on analysis of spectrographic images</li>
                <li class="experience-list__item">Developed code for SDSS3 guider camera with C and Python to correct for temperature fluctuations and mechanical vibrations</li>
                <li class="experience-list__item">Traveled to Apache Point Observatory in Arizona to test guider camera and work with SDSS collaborators</li>
                <li class="experience-list__item">Worked with professors in UCSC on SDSS3 MYSQL database release</li>
            </ul>
        </div>
    </div>
</div>